<div class="productbox">
    
    
    <div class="productbox-left">
             <div>
                <img src='{{getDisplayPicture Picture}}'>
            </div>
    </div>   
    


    <div class="productbox-right">
        {{#if [Best Seller]}}
            <input id='bestSeller' type="hidden" value="{{[Best Seller]}}"> 
        {{/if}}

        {{#if [Product Price].[Large]}}
            <input id="lprice" type="hidden" value="{{[Product Price].[Large]}}">
        {{else}}
            <input id="lprice" type="hidden" value="{{[Product Price].[Small]}}">
        {{/if}}

        {{#if [URL]}}
            <input id="avail" type="hidden">
        {{/if}}


        {{#if [Product Size].[Large]}}
            <input id="lsize" type="hidden" value="{{convertToML [Product Size].[Large].[Size] [Product Size].[Large].[Unit]}}">
        {{else}}
            <input id="lsize" type="hidden" value="{{convertToML [Product Size].[Small].[Size] [Product Size].[Small].[Unit]}}">
            
        {{/if}}


        <div id="productbox-name">
            <h1> {{"Product Name"}}</h1>
        </div>

        <div class="productbox-desc" id="productbox-desc">
            <p>
                {{"Product Description"}}
            </p>
        </div>

        <div id="productbox-bottom">
            <span id="productbox-infobox">
                <div>
                    Size:
                        {{#with [Product Size]}}
                            {{#if [Large]}} 
                                <span>{{[Large].[Size]}}{{[Large].[Unit]}}</span>
                            {{/if}}
                            {{#if [Medium]}} 
                                <span>{{[Medium].[Size]}}{{[Medium].[Unit]}}</span>
                            {{/if}}
                            {{#if [Small]}} 
                                <span> {{[Small].[Size]}}{{[Small].[Unit]}}</span>
                            {{/if}}

 
                        {{/with}}
                </div>
                <div>
                    {{!-- If there is another size variation --}}
                    {{#if [Product Price].[Large]}}
                    Price:  &#8369;{{[Product Price].[Small]}} -  &#8369;{{[Product Price].[Large]}}
                    {{else}}
                    Price:  &#8369;{{[Product Price].[Small]}}
                    {{/if}}
                </div>
            </span>
            <span id="productbox-buttonbox">
                <a href="/product?id={{_id}}">
                    <div id="productbox-viewbutton"> View </div>
                </a>
            </span>
        </div>
    </div>
</div>