

<body>

    {{>navbar}}

    <div class="main">
        <div id="product-base">
            
            <span id="left-box">
                {{#each (getPicture Product)}}
                    {{>sidebox this}}
                {{/each}}
            </span>

            <span id ="main-box"> 
                <div> 
                    <img src="{{getFocusedPicture Product}}">

                </div>
            </span>

            <span id = "right-box">
                <div id="product-name">
                    <h1>{{Product.[Product Name]}}</h1>
                </div>

                <hr>

                <div id="price-box">
                    <h1>Price: {{getPrice Product.[Product Price]}}&#8369;</h1>
                </div>

                <div id = "description-box">
                    <h1> Description: </h1> 
                    <div id="product-desc">
                        <p>
                            {{Product.[Product Description]}}
                        </p>
                    </div>

                    {{!-- Implement drop down --}}
                    <button onclick="dropDownInfo()"><h1> More Information: </h1></button>
                    
                    <div id="product-additional-desc">
                        <p>
                            {{Product.[Product Additional Info]}}
                        </p>
                    </div>
                </div>

                {{!-- The underline doesn't show but you get the gist --}}
                <div id ="size-box">
                    <p>Size: <u>S</u> M L</p>
                </div>

                <div id="quantity-box">
                    <span id="quantity-text">
                        <p>Quantity: </p>
                    </span>
                    <span id="quantity-counter">

                        <span id="quantity-negative">

                            <p>-</p>

                        </span>

                        <span id="quantity-amount">
                            <p>
                                1
                            </p>
                        </span>

                        <span id="quantity-positive">
                            <p>+</p>
                        </span>

                    </span>
                </div>

                <button id="store-button">
                    <h1>GO TO STORE</h1>
                </button>


            </span>

        </div>
    </div>
</body>


