
<body>

    {{>navbar}}

    <div class="main">
        <div id="product-base">
            
            <span id="left-box">
                {{#each (getPicture Product)}}
                    {{>sidebox this}}
                {{/each}}
            </span>

            <span id ="main-box"> 
                <div> 
                    <img id='focusedPicture' src="{{getFocusedPicture Product}}">
                </div>
            </span>

            <span id = "right-box">
                <div id="product-name">
                    <h1>{{Product.[Product Name]}}</h1>
                </div>

                <hr>

                {{!-- TODO: Revise this --}}
                <div id="price-box">
                    <h1>Price: &#8369; <span id="price">{{getPrice Product.[Product Price]}} </span></h1>
                </div>

                <div id = "description-box">
                    <h1> Description: </h1> 
                    <div id="product-desc">
                        <p>
                            {{Product.[Product Description]}}
                        </p>
                    </div>

                    {{!-- Implement drop down --}}
                    <div id="more-info-dropdown" onclick="dropDownInfo()">
                            <h1> More Information </h1>
                            <span style="margin-left:10px;" id="arrow-span">
                                <i class="arrow down"></i>
                            </span>
                    </div>
                    
                    <div id="product-additional-desc">
                        <p>
                            {{Product.[Product Additional Info]}}
                        </p>
                    </div>
                </div>

                {{!-- The underline doesn't show but you get the gist --}}
                <div id ="size-box">
                    <p>
                        Size: 
                    
                        {{#with Product.[Product Size]}}
                            {{#if Large}}
                                <button id="large" onclick="changeProductSize('L', '{{../Product._id}}')"> {{Large.Size}} {{Large.Unit}} </button>
                            {{/if}}

                            {{#if Medium}}
                                <button id="medium" onclick="changeProductSize('M', '{{../Product._id}}')"> {{Medium.Size}} {{Medium.Unit}} </button>
                            {{/if}}

                            {{#if Small}}
                                <button id="small" onclick="changeProductSize('S', '{{../Product._id}}')"> {{Small.Size}} {{Small.Unit}} </button>
                            {{/if}}
                        {{/with}}
                    </p>
                    
                </div>

                <div id="quantity-box">
                    <span id="quantity-text">
                        <p>Quantity: </p>
                    </span>
                    <span id="quantity-counter">

                        <span onclick="decrement()"id="quantity-negative">

                            <p>-</p>

                        </span>

                        <span id="quantity-amount">
                            <p>
                                1
                            </p>
                        </span>

                        <span onclick="increment()"id="quantity-positive">
                            <p>+</p>
                        </span>

                    </span>
                </div>

                <button id="store-button">
                    <h1>GO TO STORE</h1>
                </button>


            </span>

        </div>
    </div>
</body>


